<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hacklab Mikkeli</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> Hacklab Mikkeli
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Lue lisää</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Mukaan toimintaan?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Yhteystiedot</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Hacklab Mikkeli</h1>
                        <p class="intro-text">Yhteisöllinen työtila teknologiasta ja sen luomisesta kiinnostuneille Mikkelissä</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Mikä ihmeen hacklab?</h2>
                <p>Hacklabit ovat fyysisiä tiloja, joissa tieteestä, teknologiasta ja digitaalisesta taiteesta kiinnostuneet voivat tavata, viettää aikaa yhdessä ja tehdä joko henkilökohtaisia tai yhteisiä harrastetöitä.</p>
                <p>Hacklab voi toimia myös yhteistyössä oppilaitosten ja liike-elämän toimijoiden kanssa tarjoten paikan vapaamuotoiseen kokeilemiseen ja innovatiiviseen yhteistyöhön. Perusperiaatteita ovat vapaus kokeilla, vapaaehtoisuuteen perustuva organisoituminen ja tasa-arvoisuus.</p>
                <p>Suomessa toimii tällä hetkellä Mikkelin lisäksi 7 hacklabia.</p>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Viimeisimmät blogikirjoitukset</h2>
            </div>
            </div>
            <div id="latest-blog-posts" class="row">
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p><a href="http://mikkeli.hacklab.fi/blog">Blogiin >></a></p>
                </div>
            </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Kuinka osallistun?</h2>
                    <p>Toiminta on tällä hetkellä käynnistysvaiheessa ja kaikki toiminnasta kiinnostuneet ovat tervetulleita mukaan!
                    Parhaiten mukaan pääset ottamalla yhteyttä muuhun porukkaan, käyttäen <a class="page-scroll" href="#contact">yhteystiedot</a>-osion välineitä.</p>
                    <p>Syöttämällä sähköpostiosoitteesi pääset mukaan postituslistalle, jolta saat ajankohtaista tietoa labin kehityksestä ja toiminnasta.</p>
                    <div class="form-inline">
                      <input type="email" class="form-control input-lg" id="get-info-email" placeholder="your@email.com" required />
                      <button id="subscribe-button" class="btn btn-default btn-lg">Lähetä</button>
                      <i style="display:none;" class="fa fa-spinner fa-spin subscribe-icon subscribe-spinner"></i>
                      <i style="display:none;" class="fa fa-check subscribe-icon subscribe-success"></i>
                      <i style="display:none;" class="fa fa-times subscribe-icon subscribe-error"></i><span style="display:none;" class='subscribe-error-message'>Tuntematon virhe!</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Yhteystiedot</h2>
                <p>Parhaiten meidät löytää ircistä: <a href="http://webchat.freenode.net/">#hacklabmikkeli @freenode</a></p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/groups/280542002155902/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/Hacklab-Mikkeli" class="btn btn-default btn-lg"><i class="fa fa-github-square fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
               	    <li>
                        <a href="https://twitter.com/HacklabMikkeli" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
		 </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Hacklab Mikkeli ry 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="/js/grayscale.js"></script>
    
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-59054179-1', 'auto');
	  ga('send', 'pageview');
	</script>

</body>

</html>
